div {

  border: solid 8px red;

  box-sizing: border-box;



  text-align: center;

  line-height: 100px;

  font-weight: bold;

  font-size: 60px;

}



.box1, .box2, .box3, .box4 {

  float: left;

  border-color: #bdffff;
  border-radius: 10px;


  width: 1224px;
  height: 400px;

}



.box5,.box7 {

  float: left;
  border-color: #bdffff;
  border-radius: 10px;

  width: 50%;
  height: 360px;

}
.box6{

  float: right
  border-color: #bdffff;
  width: 50%;
  height: 360px;

}






.box8, .box9, .box10, .box11 {

  float: right;

  border-color: #bdffff;
  border-radius: 10px;

  width: 50%;
  height: 360px;

  font-size: 30px;

}
.kadomaru {
   border-radius: 5px;   /* 角丸の指定 */
}



.boxA {

  border: none;

  &:after {

    content: "";

    display: block;

    clear: both;

  }

}

body {
  
}
